<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>giphy-api</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/main.css">
	  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="/scripts/ui.js"></script>
</head>
<body>

	{{{body}}}

  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</body>
</html>
